body {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

.text{
    font-weight: 700;
}

.container {
    margin-top: 75px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    position: relative;
    width: 20%;
    margin: 10px;
}

.image-container {
    position: relative;
    overflow: hidden;
}

.thumbnail {
    width: 100%;
    display: block;
}

.play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    z-index: 2;
}


.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    border-radius: 10px;
}

@media (max-width: 768px) {
    .container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 80%;
        position: relative;
        margin: 10px;
    }

    .play-button {
        left: 53%;
    }
}
